
#metodos-cafe .intro {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
    line-height: 1.6;
}

#metodos-cafe .destacado {
    font-weight: bold;
    margin: 25px 0;
}

#metodos-cafe .grid {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

#metodos-cafe .item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#metodos-cafe .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}

/* Efecto Zoom */
#metodos-cafe .item:hover img {
    transform: scale(1.06);
}

#metodos-cafe .texto {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

#metodos-cafe .texto span {
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: 5px;
}
