* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos específicos de la página de la tienda */
.seccion-tienda {
    padding: 50px 50px;
    background-color: #f7f7f7;
    text-align: center;
    min-height: calc(100vh - 200px); /* Ajusta la altura para que el footer no suba */
}

.titulo-pagina {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.productos-grid,
.productos-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 900px;
    margin: 0 auto 50px;
}

.productos-grid-2 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin-top: 50px;
}



.producto-card {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 10px; /* Ajusta el padding para el espacio interno */
}

.producto-card img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Ajusta la imagen sin deformarla */
    transition: transform 0.3s;
}

.producto-card:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.producto-card p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

